.hero {
  position: relative;
  padding-top: 260px;
  padding-bottom: 188px;
  width: 100%;
  background-image: url(../../assets/img/hero-image.png);
  background-size: cover;
}

.wrapper {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 65px;
}
