.logo {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  cursor: pointer;
  text-decoration: none;
}

.image {
  width: 64px;
  height: 64px;
}

.caption {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--bg-1-100);
  margin-bottom: 4px;
}

.title {
  font-size: 16px;
  line-height: 130%;
}

.subtitle {
  font-size: 12.2px;
  line-height: 140%;
}

@media (max-width: 1355px) {
  .logo {
    width: fit-content;
  }
  .image {
    width: 42px;
    height: 42px;
  }

  .caption {
    margin-bottom: 3px;
  }

  .title {
    font-size: 12.2px;
    line-height: 130%;
  }

  .subtitle {
    font-size: 10px;
    line-height: 130%;
  }
}
